<!-- formulario_registro_expositor.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Expositor</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Registro de Expositor</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.nombres.label }}
                {{ form.nombres }}
            </div>
            <div class="form-group">
                {{ form.apellidos.label }}
                {{ form.apellidos }}
            </div>
            <!-- Agrega el resto de los campos del formulario utilizando la misma estructura -->
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

    <!-- Enlace a Bootstrap JS (si es necesario) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
